
#add_pane{
    -fx-background-image: url("ADD_BOOK.jpg");
    -fx-background-size: cover;
}

.jfx-button{
    -fx-background-color: orange;
    -fx-text-fill: #fff;
}

.label{
    -fx-text-fill: pink;
}

.jfx-text-field{
    -jfx-unfocus-color:orange;
    -jfx-focus-color:orange;
    -fx-prompt-text-fill: orange;
    -fx-text-fill: orange;
}

.jfx-button{
    -fx-background-color: orange;
    -fx-text-fill: #fff;
}